<h1>About Medvane Genes</h1>

<h2>How to Cite Content on Medvane Genes</h2>

<blockquote>Kyungjoon Lee, Atticus Huberts, Lisa Lavia, Isaac S. Kohane, Alexa T. McCray. Medvange Genes. Available at http://genes.medvane.org/. Accessed on [date of access].</blockquote>

<h2>Source Code</h2>

<p>Medvane Genes is a <a href="http://rubyonrails.org/" target="_blank">Ruby on Rails</a> application. The source code is available at <a href="/code">http://genes.medvane.org/code</a> under <a href="http://creativecommons.org/licenses/MIT/" target="_blank">MIT License</a>.</p>

<h2>Bug Report &amp; Feature Request</h2>

<p>We encourage you to contribute to Medvane Genes by reporting bugs and requesting new features. Please use our issue tracker at <a href="/bugs">http://genes.medvane.org/bugs</a>.</p>
