<h1>About Medvane Genes</h1>

<h2>What's going on under the hood?</h2>

<p>
Here are the three easy steps:
<ol>
  <li>Search PubMed with your search term using eUtils, and get PMIDs.</li>
  <li>Get all the GeneIDs from gene2pubmed table for PMIDs in step 1.</li>
  <li>List genes for GeneIDs in step 2 along with other information.</li>
</ol>  
</p>

<h3>Data Sources</h3>

<ul>
  <li><a href="ftp://ftp.ncbi.nih.gov/gene/DATA/gene_info.gz" target="_blank">ftp://ftp.ncbi.nih.gov/gene/DATA/gene_info.gz</a></li>
  <li><a href="ftp://ftp.ncbi.nih.gov/gene/DATA/gene2refseq.gz" target="_blank">ftp://ftp.ncbi.nih.gov/gene/DATA/gene2refseq.gz</a></li>
  <li><a href="ftp://ftp.ncbi.nih.gov/gene/DATA/gene2pubmed.gz" target="_blank">ftp://ftp.ncbi.nih.gov/gene/DATA/gene2pubmed.gz</a></li>
  <li><a href="ftp://ftp.ncbi.nih.gov/gene/DATA/gene2go.gz" target="_blank">ftp://ftp.ncbi.nih.gov/gene/DATA/gene2go.gz</a></li>
  <li><a href="ftp://ftp.ncbi.nih.gov/pub/taxonomy/taxdump.tar.gz" target="_blank">ftp://ftp.ncbi.nih.gov/pub/taxonomy/taxdump.tar.gz</a></li>
  <li><a href="ftp://ftp.ncbi.nih.gov/pub/HomoloGene/current/homologene.data" target="_blank">ftp://ftp.ncbi.nih.gov/pub/HomoloGene/current/homologene.data</a></li>
  <li><a href="http://semanticnetwork.nlm.nih.gov/SemGroups/SemGroups.txt" target="_blank">http://semanticnetwork.nlm.nih.gov/SemGroups/SemGroups.txt</a></li>
</ul>

<h2>How to Cite Content on Medvane Genes</h2>

<blockquote>Kyungjoon Lee, Atticus Huberts, Lisa Lavia, Isaac S. Kohane, Alexa T. McCray. Medvange Genes. Available at http://genes.medvane.org/. Accessed on [date of access].</blockquote>

<h2>Source Code</h2>

<p>Medvane Genes is a <a href="http://rubyonrails.org/" target="_blank">Ruby on Rails</a> application. The source code is available at <a href="/code">http://genes.medvane.org/code</a> under <a href="http://creativecommons.org/licenses/MIT/" target="_blank">MIT License</a>.</p>

<h2>Bug Report &amp; Feature Request</h2>

<p>We encourage you to contribute to Medvane Genes by reporting bugs and requesting new features. Please use our issue tracker at <a href="/bugs">http://genes.medvane.org/bugs</a>.</p>
